* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}


a {
  text-decoration: none;
  color: var(--main__color);
}


:root {
  --main__color: white;
  --second__color: rgb(158, 29, 104);
  --thirds__color: black;
  --fourth__color: rgb(255, 163, 213);
}

html {
  background-color: var(--fourth__color);
}

body {
  color: var(--main__color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


span {
  font-size: 18px;
}

h1 {
  font-size: calc(3vw +3);
}


.header {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background: url("hombre-sonriente-bodega-tiro-medio_23-2149428824.jpg") center/cover no-repeat;
}

.nav {
  padding: 30px;
  position: fixed;
  width: 100%;
  height: 30PX;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__container {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav a {
  display: flex;
}

.login {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.foto__usuario {
  width: 20px;
  border-radius: 40px;
}

.nombre__usuario {
  font-size: calc(1vw + 5px);
}

.carrito {
  width: 20px;
  filter: invert(1);
}

.btn {
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  font-size: 10px;
  border-radius: 5px;
}

.header__lema {
  grid-column: 2/4;
  grid-row: 4;
  align-items: end;
}

.header__sublema {
  grid-column: 2/4;
  grid-row: 4;
  align-self: last baseline
}

.linea {
  border-top: 1px solid var(--second__color);
  height: 2px;
  width: 50px;
  margin-top: 10px;
}

.buttons {
  display: grid;
  grid-column: 2/3;
  grid-row: 5;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: subgrid;
  justify-items: center;
}

.btn__discover__wines {
  grid-column: 1;
  background-color: var(--second__color);
}

.btn__support__help {
  grid-column: 2;
  border: 1px solid var(--main__color);
}

.wine__container {
  position: relative;
  width: 25vw;
  height: 100vh;
  grid-column: 4/6;
  grid-row: 3/6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  color: var(--thirds__color);
  background-color: var(--main__color);
  box-shadow: 4px 4px 4px rgb(99, 99, 99);
}

.wine__container p {
  font-size: 15px;
  color: var(--second__color);
  opacity: .6;
}

.wine__container__circulo {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 7px solid var(--main__color);
  background-color: var(--second__color);
  left: 80px;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.wine0 {
  scale: .7;
}

.botella {
  grid-column: 4 / 6;
  grid-row: 2/ 5;
  align-self: baseline;
  width: 60px;
}

.wine__description {
  grid-column: 2/6;
  grid-row: 7/8;
}

.star {
  width: 10px;
}

.star__opacy {
  opacity: .4;
}


.more {
  grid-column: 2/4;
  grid-row: 8;
  display: flex;
  justify-self: left;
  align-items: center;
  color: var(--third__color);
}

.add {
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid var(--thirds__color);
  border-radius: 3px;
  grid-column: 5/8;
  grid-row: 8;
  display: flex;
  place-content: center;
  align-self: center;
  color: var(--second__color);
}

.alter__nav {
  position: relative;
  bottom: 20px;
  height: 100px;
  display: flex;
  background-color: var(--main__color);
  place-content: center;
}

.alter__nav>a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: calc(1vw +3px);
  color: var(--second__color);
}

.alter__nav img {
  width: 4vw;
}

.main__wines {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  background-color: rgb(226, 226, 226)
}



.container_80 {
  margin: 0 auto;
  width: 80vw;
}

.load_more {
  margin: 0 auto;
  margin-top: 50px;
  background-color: var(--second__color);

}

.footer {
  margin: 0 auto;
  margin-top: 50px;
  min-height: 65vh;
  background-color: var(--thirds__color);
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.newsletter {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.envelope {
  fill: var(--main__color);
  width: 20px;
}

.entrada {
  color: var(--thirds__color);
  background-color: rgb(148, 143, 143);
}

.linea__larga {
  border: 1px solid rgb(37, 37, 37);
  height: 2px;
}

.footer__end>div {

  display: flex;
  flex-direction: column;
}

.footer__end {
  display: flex;
  gap: 50px;
  font-size: 10px;
}

.linea__corta {
  width: 20px;
}

.opacy {
  opacity: .3;
}

@media (max-width: 600px) {


  .login, .wine0 {
    display: none;
  }

  .header__lema,
  .header__sublema {
    grid-column: 2/5;
    justify-self: center;
    text-align: center;
    justify-content: center;
  }

  .header__lema {
    grid-row: 5/6;
  }

  .header__sublema {
    grid-row: 6;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    grid-column: 2/5;
    grid-row: 7/8;
    justify-self: center;
  }

  .alter__nav {
    flex-wrap: wrap;
    width: 100%;
  }
  .main {
    margin-top: 100px;
  }
.percent80 {
  margin: 0 auto;
  width: 100vw;
}
  .alter__nav>a {
    width: 200px;
    padding: 10px;
  }

  .footer {
    width: 100vw;
    margin: 0 auto;
  }

  .newsletter {
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
  }

  .entrada {
    width: 70%;
  }

  .footer__end {
    flex-wrap: wrap;
    justify-content: center;
  }
}